# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# C extensions
*.so

# Django stuff:
*.log
*.pot
*.pyc
*.pyo
*.sqlite3
local_settings.py

# Environment variables
.env

# Virtual environment
venv/

# VS Code
.vscode/

# PyCharm
.idea/
*.iml

# System files
.DS_Store
Thumbs.db
